@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and borders are included in element's total width and height */
}

/* Optional: You might also want to reset margins and paddings for other elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit; /* Inherit box-sizing from body */
}

body {
    background-color: rgb(30, 30, 30);
}

header{
    background-color: #2b2b2b;
    padding: 10px;
}

header > h1 {
    color: #F05033;
    font-family: "Rubik Dirt", system-ui;
}

.shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

main {
    color: #c0c0c0;
    margin-top: 25px;
    margin-left: 10px;
    width: 1000px;
    padding: 10px;
    background-color: #2b2b2b;
    border-radius: 5px;

    font-family: "Poppins", cursive;
}

main>h1{
    font-weight: 900;
    color: #7a7a7a;
}

main h1, main h2, main h3, main h4 {
}


main>pre {
    margin-top: 10px;
    background-color: rgb(16, 16, 16);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px rgb(85, 85, 85);
    color: #eca194;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}