body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and borders are included in element's total width and height */
}

/* Optional: You might also want to reset margins and paddings for other elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit; /* Inherit box-sizing from body */
}


header{
    background-color: blueviolet;
    padding: 10px;
}